
<form name="anotar" action="/anota" method="post">
<input name="puntaje1" type="text" value="0">
<input type="submit" value="anota 1">
</form>

<form name="anotar2" action="/anota2" method="post">
<input name="puntaje2" type="text" value="0">
<input type="submit" value="anota 2">
</form>

<form name="scorer" action="/score" method="post">
<input type="submit" value="score">
</form>
<h1>Hola</h1>