
<h1>Tennis</h1>
<table>
  <tr>
    <th><label name="Score"><%= @score%></label> </th>
  </tr>
  <tr>
    <td>
      <form name="anotar" action="/anota" method="post">
        <input name="anota 1" type="submit" value="anota 1">
      </form>
    </td>
    <td>
      <form name="anotar2" action="/anota2" method="post">
      <input name="anota 2" type="submit" value="anota 2">
      </form>
    </td>
 </tr>
</table>
